@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-image {
  background: linear-gradient(
      180deg,
      rgba(29, 134, 147, 0.5),
      rgb(255, 255, 255)
    ),
    url("./Images/plane.jpg");

  background-size: cover;
  background-position: center;
}
